@media (max-width: 1440px) {
    .first-screen {
        background-size: 697px 799px;
        &__text {
            padding-top: 376px;
            padding-bottom: 377px;
        }
    }
    .second-screen {
        &__card {
        max-width: 641px;
        padding-top: 43px;
        padding-bottom: 43px;
        }
    }
}