.first-screen {
    position: relative;
    background: url(../images/icons/symbol.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 872.34px 1000px;
    min-height: 100vh;
    &__text {
        max-width: 800px;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: $textColor;
        padding-top: 477px;
        padding-bottom: 477px;
        margin: auto;
        position: relative;
        z-index: 3;
    }
}

.scroll-down {
    position: absolute;
    left: calc(50% - 42px/2);
    bottom: 30px;
    z-index: 4;
    circle,
    path {
        transition: all linear .1s;
    }
    &:hover {
        circle,
        path {
            stroke: $accentColor;
        }
    }
}