.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 50px;
    &__container {
        display: grid;
        grid-template-areas:
            "header__logo header__bar-list"
            "header__logo header__nav";
    }
    &__logo {
        grid-area: header__logo;
        &-menu {
            font-size: 20px;
            line-height: 24px;
            color: $textColor;
            display: none;
        }
    }
    &__bar-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 16px;
        grid-area: header__bar-list;
    }
    &__bar-item {
        position: relative;
    }
    &__bar-item:not(:last-child) {
        margin-right: 18px;
    }
    &__bar-lang {
        display: flex;
    }
    &__bar-item:not(:last-child)::after {
        content: "";
        display: block;
        position: absolute;
        top: 40%;
        left: calc(100% + 6px);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #E6E6F0;
    }
    &__nav {
        grid-area: header__nav;
        &-list {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: flex-start;
        }
        &-link_icon {
            display: none;
        }
        &-link {
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            color: $textColor;
            margin-bottom: 3px;
        }
        &-link:hover {
            margin-bottom: 3px;
            border-bottom: 2px solid $textColor;
        }
        &-link_blue {
            color: $blueRegular;
            margin-bottom: 3px;
            border-bottom: 2px solid $blueRegular;
        }
        &-link.current {
            color: $accentColor;
            border-bottom: 2px solid $accentColor;
        }
        &-item:not(:last-child) {
            margin-right: 15px;
        }
    }
}

.link {
    &-lang {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: $textColor;
    text-transform: uppercase;
    padding: 5px 7px;
    }
    &-lang:hover {
        display: block;
        background-color: $langHover;
        border-radius: 8px;
    }
}

.current-lang {
        background-color: $accentColor;
        border-radius: 8px;
    }

.address__text,
.contact__number {
    color: $textColor;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    padding: 2.5px 0 2.5px 0;
}

.contact__number {
    font-weight: bold;
}

.facebook-link:hover path {
    fill: $accentColor;
}

.facebook-link path {
    transition: all linear .1s;
}

.slash {
    display: none;
}
