.servicies_svg:hover .servicies_svg-arrow {
    stroke: $accentColor;
}

.servicies_svg:hover .servicies_svg-text {
    fill: $accentColor;
}

.servicies {
    &__card-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px;
        grid-auto-flow: row;
        padding-bottom: 60px;
    }
    &__title {
        background: linear-gradient(90deg, #F0145A 0%, #EF8080 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    &__icon {
        margin-bottom: 30px;
    }
    &__card-title {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: $blueRegular;
        margin-bottom: 15px;
    }
    &__card-text {
        color: $textColor;
        font-size: 16px;
        line-height: 26px;
    }
}
