@import "fonts";

@import "variables";

* {
    box-sizing: border-box;
}

@import "body";

@import "header";

@import "first-screen";

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 60px;
}

.link {
    display: block;
    width: fit-content;
    text-decoration: none;
    transition: all linear .1s;
}

.logo {
    display: flex;
    flex-direction: column;
}

@import "desktop sd.scss";

@import "tablet hd.scss";

@import "tablet sd.scss";

@import "mobile.scss";

