@import "fonts";

@import "variables";

* {
    box-sizing: border-box;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 60px;
}

@import "body";

@import "header";

@import "first-screen";

@import "services";

@import "team";

@import "companies";

@import "publications";

@import "footer";

.gradient__screen {
    background: $gradientSuperSoft;
    position: relative;
    border-radius: 0px 0px 12px 12px;
    margin-bottom: 80px;
}

.gradient__screen::before {
    display: block;
    content: "";
    width: calc(100% - 40px);
    height: 10px;
    position: absolute;
    left: 20px;
    bottom: -10px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
}

.gradient__screen::after {
    display: block;
    content: "";
    width: calc(100% - 80px);
    height: 10px;
    position: absolute;
    left: 40px;
    bottom: -20px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
}

.link {
    display: block;
    width: fit-content;
    text-decoration: none;
    transition: all linear .1s;
}

.logo {
    display: flex;
    flex-direction: column;
}

@import "second-screen";

@import "desktop sd";

@import "tablet hd";

@import "tablet sd";

@import "mobile";

