@media (max-width: 768px) {
    .header {
        &__container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                "header__bar-list"
                "header__logo"
                "header__nav";
        }
        &__bar-list {
            justify-content: flex-start;
            margin-bottom: 30px;
        }
        &__logo {
            margin-bottom: 30px;
        }
        &__nav {
            &-list {
            justify-content: flex-start;
            }
            &-item_pic {
                order: 1;
            }
        }
    }
    .first-screen {
        background-size: 893.28px 1024px;
        &__text {
            padding-top: 489px;
            padding-bottom: 489px;
        }
    }
    .second-screen {
        &__container {
            display: flex;
            flex-direction: column;
        }
        &__list {
            display: flex;
            flex-direction: row;
            padding: 0;
            border-right: none;
            border-bottom: 4px solid rgba(255, 255, 255, 0.3);
            padding-bottom: 60px;
        }
        &__item {
            width: max-content;
        }
        &__item:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 0;
        }
        &__card {
            max-width: 648px;
            padding-top: 64px;
            padding-left: 0;
            padding-bottom: 0px;
            }
    }
}