@media (max-width: 1024px) {
    .first-screen {
        &__text {
            padding-top: 361px;
            padding-bottom: 361px;
        }
        &__logo {
            width: 669.96px;
            height: 768px;
            left: calc(50% - 669.96px/2 - 0.02px);
            top: calc(50% - 768px/2);
        }
    }
}