.team {
    padding-bottom: 30px;
    &__link {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $blueRegular;
        &:hover {
            color: $accentColor;
        }
        &:hover  .team__svg {
            stroke: $accentColor;
        }
    } 
    &__card {
        display: flex;
        margin-bottom: 30px;
        &::before {
            display: block;
            content: "";
            width: 400px;
            background: url(../images/Team-1.png) 0 45%/cover no-repeat;
            border-radius: 12px 0 0 12px;
        }
    }
    &__description {
        padding: 30px;
        width: calc(100% - 400px);
        background: #F5F5FA;
        border-radius: 0 12px 12px 0;
    }
    &__text {
        background: linear-gradient(90deg, #F0145A 0%, #EF8080 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        word-wrap: break-word;
        color: $accentColor;
        margin: 5px 0 30px;
    }
    &__chief {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #B3B3BA;
        margin-bottom: 6px;
        &:hover {
            color: $accentColor;
        }
    }
    &__position {
        font-size: 14px;
        line-height: 22px;
        color: #B3B3BA;
    }
    &__slider {
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }
}

.slider__circle:hover {
    opacity: 0.6;
}